<div class="row">
    <div class="" id="tree">
        <h1>tree</h1>
        111 - {{documents}}
        <editor-tree [name]="name" [tree]="documents"></editor-tree>
    </div>
    <div class="doc-content">
        <div ui-view="content">

        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="" ui-view="left-column" id="tree" ng-click="onDeselection($event)"></div>
    <div class="doc-content">
        <breadcrumbs></breadcrumbs>
        <div ui-view="right-column"></div>
    </div>
</div> -->