.context-menu {
    vertical-align: baseline;
    z-index: 9999;

    .context-menu-actions-icon {
      width: 20px;
      margin-right: 6px;
      display: inline-block;
      text-align: center;
    }

    .context-menu-actions-text {
      display: inline-block;
    }

    a {
      padding: 10px 15px;
      .fa {
        float: none;
        margin: 0;
        font-size: 16px;
      }
    }
  }