.navbar-brand {
    background-image: url(../../img/kkg-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #dadada;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #0099b6;
    background: #f7f7f7;
}
.navbar-inverse .navbar-nav>li>a.active, .navbar-inverse .navbar-nav>li>a.active:hover {    
    color: #0099b6; 
    background: #f7f7f7;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.navbar-inverse .navbar-nav>li.active>div.dropdown>.dropdown-toggle {
    background: #f7f7f7;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
.dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:focus, .dropdown .dropdown-toggle:active,
.dropdown .dropdown-toggle.active, .dropdown.open .dropdown-toggle.btn-default {
    color: #0099b6;
    background-color: #f7f7f7;
    margin-bottom: 0;
}
.dropdown .dropdown-toggle:hover .text, .dropdown .dropdown-toggle.active .text, .dropdown .dropdown-toggle:focus .text {
    color: #0099b6;
}
.navbar-inverse .navigation-menu li.active>a, .navbar-inverse .navbar-nav>li.active>a:hover, 
.navbar-inverse .navbar-nav>li>a.active, .navbar-inverse .navbar-nav>li>a.active:hover, .navbar-inverse .navbar-nav>li.active>a:focus {
    color: #0099b6;
    background: #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: -1px;
}
.navbar-inverse .navigation-menu li.active>div.dropdown>.dropdown-toggle {
    color: #0099b6;
    background: #e9e9e9;
}
.navbar-inverse .navigation-menu li.active>div.dropdown>.dropdown-toggle .text {
    color: #0099b6;
}
.navbar-inverse .navbar-nav>li.active>div.dropdown>.dropdown-toggle>.text {
    color: #0099b6;
}
.header-menu .main-nav li a {
    color: #000;
}
.project-menu .heading {
    color: #000;
}
.project-menu .ui-select-bootstrap .ui-select-choices-row>a {
    color: #000;
}
.project-menu .ui-select-bootstrap .ui-select-choices-row.active>a {
    color: #0099b6;
}
#footer {
    background: #333;
    color: #fff;
    position: relative;
    z-index: 2;
}
.row-breadcrumb .btn-breadcrumb .btn {
    color: #585858;
    text-decoration: underline;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.row-breadcrumb .btn-breadcrumb .btn:hover, .row-breadcrumb .btn-breadcrumb .btn:first-child:hover {
    color: #0099b6;
}
.row-breadcrumb .btn-breadcrumb .btn:after {
    background: url(../../img/breadcrumb-divider-axpo.png) -7px -10px no-repeat;
}
.row-breadcrumb .btn-breadcrumb .btn:first-child {
    color: #585858;
    text-decoration: none;
}
.row-breadcrumb .btn-breadcrumb .btn:last-child {
    color: #585858;
    text-decoration: none;
}
.language-menu .text, .language-menu .caret {
    color: #000;
}
.language-menu .dropdown-menu {
    background-color: #f7f7f7;
    right: 0;
    left: auto !important;
}
.navbar-inverse .dropdown-menu>li>a, .navbar-inverse .dropdown-menu>li>a:focus {
    color: #000;
}
.navbar-inverse .dropdown-menu>li>a:hover, .navbar-inverse .dropdown-menu>.active>a, .navbar-inverse .dropdown-menu>.active>a:hover {
    background-color: #f7f7f7;
    color: #0099b6;
}
.dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:focus, .dropdown .dropdown-toggle:active,
.dropdown .dropdown-toggle.active, .dropdown.open .dropdown-toggle.btn-default {
    color: #0099b6;
    background-color: #f7f7f7;
    border: none;
}
.dropdown.open .dropdown-toggle.btn-default .text {
    color: #0099b6;
}
.dropdown .dropdown-toggle .text {
    color: #000;
}
.logout-menu button .text, .logout-menu .dropdown-menu li a, .logout-menu .dropdown-menu li a:focus {
    color: #000;
}
.logout-menu .dropdown-menu li a {
    text-align: left;
}
.logout-menu button .caret {
    color: #000;
}
.logout-menu .dropdown-menu {
    background-color: #f7f7f7;
}
.project-menu .dropdown-menu {
    background-color: #fff;
}
.projects-menu .dropdown-toggle .caret, .reports-menu .dropdown-toggle .caret {
    color: #000;
}
.logout-menu .user-icon {
    display: inline-block;
    vertical-align: middle;
    background: url(../../img/user-icon-black.png) center no-repeat;
}
.btn-bordered {
    background: transparent;
    border: 1px solid #ccc;
    color: #000;
}
.btn-bordered:hover {
    background-color: #f7f7f7;
    color: #0099b6;
    border-color: #ccc;
}
i.btn-icon, .project-menu .project-icon {
    display: inline-block;
    background-image: url(../../img/axpo-buttons.png);
    background-repeat: no-repeat;
    float: left;
}
i.btn-icon.generate-report-ico {
    background-position: 0 -360px;
}
.projects-menu i.btn-icon.btn-import {
    background-position: -24px -384px;
}
i.btn-icon.btn-login-classic {
    background-image: url(../../img/buttons.png);
    background-position: 0px -481px;
}
i.btn-icon.btn-login-safety {
    background-image: url(../../img/buttons.png);
    background-position: -24px -481px;
}
.btn-login i.btn-icon.btn-login-classic {
    background-image: url(../../img/buttons.png);
    background-position: 0px -457px;
}
.btn-login i.btn-icon.btn-login-safety {
    background-image: url(../../img/buttons.png);
    background-position: -24px -457px;
}
i.btn-icon.user-ico {
    background-image: url(../../img/bircomp-buttons.png);
    background-position: 0 -434px;
}
.navigation-menu .login-box .btn-login {
    background-color: #009ab6;
    float: left;
}
.navigation-menu .login-box .btn-login:hover {
    background-color: #007a90;
}
.panel-body .form-row.header-row {
    color: #0099b6;
}
.doc-phrases-table a {
    color: #000;
}
.doc-phrases-table a:hover {
    color: #0099b6;
}
.table>thead>tr>th {
    border-bottom: 1px solid #dadada;
    color: #0099b6;
    text-align: left;
}
.panel-body .form-row .panel-label, .aside-body .form-row .panel-label {
    display: inline-block;
    color: #8d8d8d;
    border: 1px solid #dadada;
}
.grid-tabs ul li a {
    color: #000;
    cursor: pointer;
}
.project-button {
    display: inline-block;
	position: relative;
	background: #f7f7f7;
    text-decoration: none;
    border: 1px solid #575757;
}
.project-button:hover {
    border-color: #575757;
    background-color: #fff;
    text-decoration: none;
}
.project-button i {
    color: #000;
}
.project-button h3 {
    color: #000;
}
.project-button:hover h3 {
    text-decoration: none;
}
.project-button:hover i {
    color: #0099b6;
}
.btn-group.btn-switcher .btn-default.active {
    color: #0099b6;
}
.btn-group.btn-switcher .buttons-divider {
    float: left;
    color: #0099b6;
}
.multiSelect .select label {
    color: #0099b6;
}
#doc-contents .contents-table-body thead tr th a, #doc-contents .contents-table-body thead tr th span {
    color: #0099b6;
}
#doc-contents .contents-table-body thead tr th a:hover {
    color: #0099b6;
    text-decoration: underline;
}
.tab-pane .form-panel .form-row.editor-row.section-name .section-label label {
    color: #000;
}
.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
    background-color: #f7f7f7;
}
.panel-title>a.collapse-group-btn {
    color: #000;
}
.panel-title>a.collapse-group-btn:hover {
    color: #0099b6;
}
.input-clear input + .clear .fa {
    color: #0099b6;
}
.inner-row .label-cell {
    color: #0099b6;
}
.ta-root .ta-toolbar .btn-group .btn:hover, .ta-root .ta-toolbar .btn-group .btn.active {
    background-color: transparent;
    border: 1px solid #dadada;
    color: #0099b6;
}
.ta-root .ta-toolbar .btn-group .btn i.fa-list-ol {
    color: inherit;
}
.panel-body .form-row.view-row div.binding-level-select .text {
    display: inline-block;
}
.form-control:focus {
    border-color: #000;
    outline: 0;
    -moz-box-shadow: 0 0 5px #0099b6;
    -webkit-box-shadow: 0 0 5px #0099b6;
    box-shadow: 0 0 5px #0099b6;
}
.contents-table-body .expand-btn {
    color: #333;
}
.contents-table-body .expand-btn:hover {
    color: #0099b6;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: inherit;
    text-decoration:none;
    outline:0;
    background-color: #f7f7f7;
}
.homepage h2 {
    color: #0099b6;
}
.homepage .text-primary {
    color: #000;
}
/*.login-box .form-row .btn-info {
    color: #0099b6;
    background-color: transparent;
    border-color: #ccc;
}
.login-box .form-row .btn-info:hover, .login-box .form-row .btn-info:focus, .login-box .form-row .btn-info:active {
    color: #0099b6;
    background-color: #f7f7f7;
}*/
.login-box .form-row .btn-dark-blue {
    color: #ffffff;
    background-color: #8d8d8d;
    border-color: #888;
}
.login-box .form-row .btn-dark-blue:hover, .login-box .form-row .btn-dark-blue:focus, .login-box .form-row .btn-dark-blue:active {
    background-color: #888;
}
.navigation-menu .login-box .signup-link {
    color: #3b3b3b;
}
.btn-dark-blue, .btn-primary {
    color: #ffffff;
    background-color: #009ab6;
    border-color: #009ab6;
}
.btn-dark-blue:hover, .btn-primary:hover {
    background-color: #007a90;
    border-color: #007a90;
    color: #ffffff;
}
.btn-dark-blue:focus, .btn-primary:focus {
    color: #ffffff;
}
.btn-primary[disabled] {
    opacity: 0.5;
    background-color: #007a90;
    border-color: #007a90;
}
.btn-dark-blue i.btn-icon.edit {
    background-position: -24px -360px;
}
.aside .aside-dialog .aside-header {
    border-bottom: 1px solid #e5e5e5;
    background: #575a5d;
    color: #fff;
}
.styles-list li {
    color: #000;
}
.styles-list li:hover {
    background-color: #f7f7f7;
}
.styles-list li.active {
    background-color: #f7f7f7;
    color: #0099b6;
}
.styles-list li.active .btn-delete .btn-icon {
    background-position: -24px -168px;
}
.home-page h1 {
    color: #000;
}
.homepage .btn-info {
    color: #0099b6;
    background-color: transparent;
    border-color: #ccc;
}
.homepage .btn-info:hover {
    color: #0099b6;
    background-color: #f7f7f7;
}
.navigation-menu .login-box .form-row input, .login-holder form .login-box .form-row input {
    border-color: #333;
}
.login-holder form .login-box .form-row input {
    border: 1px solid #ccc;
}
.dropdown .dropdown-toggle {
    background-color: #fff;
}
.content, .page-wrapper, .navbar-inverse {
    background-color: #fff;
    background: #fff;
}
.footer-select label {
    color: #8d8d8d;
}
.login-holder form .login-box .form-row input.username {
    background: #fff url(../../img/input-icons-black.jpg) no-repeat;
    background-position: 0 0;
    padding-left:55px;
}
.login-holder form .login-box .form-row input.password {
    background: #fff url(../../img/input-icons-black.jpg) no-repeat;
    background-position: 0 -48px;
    padding-left:55px;
}
.login-holder form .login-box .form-row input.email {
    background: #fff url(../../img/input-icons-black.jpg) no-repeat;
    background-position: 0 -96px;
    padding-left:55px;
}
.login-holder form .login-box .form-row input.username.required {
    background: #fff url(../../img/input-icons-required-black.jpg) no-repeat;
    background-position: 0 0;
    padding-left:55px;
}
.login-holder form .login-box .form-row input.password.required {
    background: #fff url(../../img/input-icons-required-black.jpg) no-repeat;
    background-position: 0 -48px;
    padding-left:55px;
}
.login-holder form .login-box .form-row input.email.required {
    background: #fff url(../../img/input-icons-required-black.jpg) no-repeat;
    background-position: 0 -96px;
    padding-left:55px;
}
.doc-content {
    padding: 10px 16px 26px;
}